{% extends 'base.html' %}
{% load embed_video_tags %}
{% block title %} Blog | {{ block.super }}{% endblock title %}
{% block content %}
{% for blog in blogpost %}
    <div class='blog-post'>
        <h3 class='blog-title'>{{blog.title}}</h3>
        {% if blog.summary %}<p class='blog-summary'>{{blog.summary}}</p>{% endif %}
        {% if blog.video %}<p class='blog-video'>{% video blog.video 'tiny' %}</p>{% endif %}
        {% if blog.picture %}<p class='blog-picture'><img src="{{ blog.picture.url }}">{% endif %}
        <p>{{blog.created_at}}</p>
    </div>
{% endfor %}
{% endblock content %}