{% extends 'base.html' %}
{% load embed_video_tags %}
{% block title %} Blog | {{ block.super }}{% endblock title %}
{% block content %}
{% if user.is_staff %}
<div class="add-post">
    <a href="{% url 'blog_post_form'%}" class="add-post-button">New Post</a>
</div>
{% endif %}
<div class="container">
{% for blog in blogpost %}
    <div class='blog-post'>
        <h3 class='blog-title'>{{blog.title}}</h3>
        {% if blog.video %}<p class='blog-video'>{% video blog.video 'tiny' %}</p>{% endif %}
        {% if blog.picture %}<p class='blog-picture'><img src="{{ blog.picture.url }}">{% endif %}
        {% if blog.content %}<p class='blog-summary'>{{blog.content}}</p>{% endif %}
        <p class='blog-date'>{{blog.created_at}}</p>
    </div>
    {% if user.is_staff %}
    <div class="add-song">
        <a href="{% url 'blog_post_update' blog.pk %}" class="update-merch-button">Update Post</a>
    </div>
    {% endif %}
{% endfor %}
</div>
{% endblock content %}