{% extends 'base.html' %}
{% load embed_video_tags %}
{% block title %} Blog | {{ block.super }}{% endblock title %}
{% block content %}
{% if user.is_staff %}
<section>
    <div  class='add-album'>
        <a class='add-album-button' href="{% url 'blog_post_form'%}"><h3 class='add-album-title'>New Post</h3></a>
    </div>
</section>
{% endif %}
<div class="container">
{% for blog in blogpost %}
    <div class='blog-post'>
        <section class="blog-title-edit">
            <h3 class='blog-title'>{{blog.title}}</h3>
            {% if user.is_staff %}
                <div class="edit-delete">
                    <a href="{% url 'blog_post_update' blog.pk %}">
                        <i class="fas">&#xf044;</i>
                    </a>
                </div>
            {% endif %}
        </section>
        {% if blog.video %}<p class='blog-video'>{% video blog.video 'tiny' %}</p>{% endif %}
        {% if blog.picture %}<p class='blog-picture'><img src="{{ blog.picture.url }}">{% endif %}
        <div class='summary-date'>
        <p class='blog-summary'>{{blog.content}}</p>
        <p class='blog-date'>{{blog.created_at}}</p>
        </div>
    </div>

{% endfor %}
</div>
{% endblock content %}