{% extends 'base.html' %}

{% block title %}{{ album.title }} | {{ block.super }}{% endblock title %}

{% block content %}
    <div class="album-detail">
        <div class="album-info">
            <div class="album-cover">
                <h1 class="album-title">{{ album.title }}
                    {% if user.is_staff %}
                    <a href="{% url 'album_update' album.pk %}"><i class="fas-album">&#xf044;</i></a>
                    {% endif %}
                </h1>
                <img src="{{ album.cover.url }}" alt="{{ album.title }} Cover">
            </div>
            <ul class="release-info">
                <li class="release-type">
                    {% if album.realese_type == 1 %}
                        Single
                    {% elif album.realese_type == 2 %}
                        EP
                    {% elif album.realese_type == 3 %}
                        Album
                    {% endif %}    
                </li>
                <li class="release-date">Release Date: {{ album.release_date }}</li>
                {% for merch in album.merches.all %}
                <div class="merch-details">
                    <div class="merch-category">
                        <span>{{ merch.category }}</span>
                    </div>
                    <div class="merch-price">
                        Price: <span>{{ merch.price }} &euro;</span>
                    </div>
                </div>
                <div class="album-description">
                    <h2>Description</h2>
                    <p>{{ album.summary }}</p>
                </div>
                {% endfor %}
            </ul>
        </div>
        <div class="songs">
            <h2>Songs</h2>
            <ul>
                {% for song in album.songs.all %}
                    <li class="song-item">
                        <span class="song-title">{{ song.title }}
                            {% if user.is_staff %}
                            <a href="{% url 'song_update' song.pk %}"><i class="fas-album">&#xf044;</i></a>
                            {% endif %}
                        </span>
                        <span class="audio">
                            <audio controls>
                            {% if song.audio %}
                                <source src="{{ song.audio.url }}" type="audio/mp3">
                            {% endif %}
                            Your browser does not support the audio element.
                            </audio>
                        </span>
                    </li>
                {% endfor %}
                {% if user.is_staff %}
                <div class="add-song">
                    <a href="{% url 'song_form' album.pk %}" class="add-song-button">Add Song</a>
                </div>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock content %}
