{% extends 'base.html' %}
{% block content %}
    <section>    
        {% for album in albums  %}  
            <div class="album">
                <a href="{% url 'album_detail' album.pk %}">
                        <img src="{{ album.cover.url }}">
                        <h3>{{ album.title }}</h3>
                </a>
            </div>
        {% endfor %}
        <div class="add-album">
            <a href="{% url 'album_form'%}" class="add-album-button">
                <h2 class="add-album-title">Add new album</h2>
            </a>
        </div>
    </section>
{% endblock content %}
