{% extends 'base.html' %}
{% load concert_tags %}
{% block content %}
{% comment %} <p>Sum of Visible Concerts: {{ concerts|sum_visible }}</p>
<p>sum of all concerts {{concerts.count}}</p> {% endcomment %}
{% if concerts|sum_visible == 0  %}
    <span class='no-concerts'>
        <h2 class='no-c'>There are no upcoming concerts<h2>
        <h3>Stay tunned!<h3>
    </span>
{% else %}
<ul>
{% for concert in concerts %}
    {% if concert.visible == True %}<li>{{concert.date}} {{concert.city}} {{concert.venue}} {% if concert.ticket_status == 2 %}<a href={{concert.link}}>{{concert.get_ticket_status_display}}</a>{% else %}{{concert.get_ticket_status_display}}{% endif %}</li>{% endif %}
{% endfor %}
</ul>
{% endif %}
{% endblock content %}