.container {
    max-width: 600px;
    /* Adjust the max-width to your preference */
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Add this line to vertically center the content */
}

.blog-post {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #e28048;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 70%;
    border-radius: 20px;
    border: 1px solid white;
}

.summary-date {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    border: 1px solid white;
    background-color: #ffffff;
    margin-bottom: 0px;
}

.blog-title {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 10px;
    display: flex;
    width: 99%;
    justify-content: flex-start;
}

.blog-summary {
    padding: 4px 4px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.blog-date {
    display: flex;
    width: 95%;
    justify-content: right;
    color: #999;
    font-size: 14px;

}

.blog-title-edit {
    display: flex;
    width: 100%;
}

.blog-title-edit .edit-delete {
    width: 1%;
}

.blog-video {
    display: flex;
    width: 100%;
    border: 1px solid white;
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.blog-picture {
    display: flex;
    border: 1px solid white;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.container .blog-picture img {
    margin-bottom: 0px;
}