
form {
    width: 400px;
    margin: 0 auto;
}

div {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
}


.background-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #e28048;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    height: 50%;
    width: 37%;
    margin-top: 20px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color:#00749b;
    color: #fff;
    border: solid white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color:  black;
}

.title {
    display: flex;
    justify-content: center;
}

.add-song-button {
    display: inline-block;
    background-color: #e28048;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    border: solid white;
    transition: background-color 0.3s ease;
    align-items: right;
    margin-left: 20px;
}

.update-merch-button {
    display: inline-block;
    background-color: #e28048;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    align-items: right;
    margin-top: 80px;
}

.add-song-button:hover {
    background-color: #00749b;
}

.add-album {
    background-color: #e28048;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 150px);
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.add-album a {
    color: #333;
    text-decoration: none;
    width: 90%;
    height: 91%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 16px;
    background-color: #e28048;
    border-radius: 20px;
    transition: background-color 0.3s;
    text-decoration: none;
}

.add-album-title {
    color: white;
}

.add-album a:hover {
    background-color: #00749b;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 25px;
    transform: rotate(45deg);
    /* will make it look like x */
    cursor: pointer;
}

.post-choice {
    margin-bottom: 10px;
    font-size: larger;
}

.add-post {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.add-post-button {
    display: flex;
    width: 6%;
    background-color: #4eb3df;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    align-items: center;
    margin-top: 5px;
}

.add-post-button:hover {
    background-color: #4eb3df;
}


.fas-album {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    align-items: flex-end;
    align-items: right;
    font-weight: 400;
    font-size: 25px;
    color: white;
    font-family: "Font Awesome 5 Free";
    font-weight: 500;
    transition: font-size 0.3s;
}

.fas-album:hover {
    color: #00749b;
    font-size: 30px;
}

input[type="file" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    align-items: baseline;
    color: white;
    text-overflow: ellipsis;
    white-space-collapse: preserve;
    text-wrap: nowrap;
    text-align: start !important;
    padding: initial;
    border: initial;
    overflow: hidden !important;
    margin-top: 5px;
}

input[type="date" i] {
    font-family: monospace;
    padding-inline-start: 1px;
    cursor: default;
    align-items: center;
    display: inline-flex;
    overflow: hidden;
    padding: 0px;
}

a:-webkit-any-link {
    color: white;
    cursor: pointer;
}
