form {
    width: 400px;
    margin: 0 auto;
}

div {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #4eb3df;
    ;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4eb3df;
}

.title {
    display: flex;
    justify-content: center;
}

.add-song-button {
    display: inline-block;
    background-color: #e28048;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    align-items: right;
}

.update-merch-button {
    display: inline-block;
    background-color: #e28048;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    align-items: right;
    margin-top: 80px;
}

.add-song-button:hover {
    background-color: #4eb3df;
}

.add-album {
    background-color: #e28048;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 150px);
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.add-album a {
    color: #333;
    text-decoration: none;
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 16px;
    background-color:#e28048;
    border-radius: 4px;
    transition: background-color 0.3s;
    text-decoration: none;
}

.add-album-title {
    color: white;
}


.close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 25px;
    transform: rotate(45deg);
    /* will make it look like x */
    cursor: pointer;
}

.post-choice {
    margin-bottom: 10px;
    font-size: larger;
}

.add-post {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.add-post-button {
    display: flex;
    width: 6%;
    background-color: #4eb3df;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    align-items: center;
    margin-top: 5px;
}

.add-post-button:hover {
    background-color: #4eb3df;
}