/* your-stylesheet.css */

/* Reset default margin and padding */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: transparent;
    background-image: url("music/image/back.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #006281;
    color: #fff;
    padding: 20px;
    
}

.container {
    background-image: url("music/image/back.jpg");
    background-size: cover;
    background-position: center;
}

.container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 2px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    flex-grow: 1;
    max-width: auto;
    margin: 20px 30px;
    padding: 0 20px;
}


section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1,
h2,
h3 {
    color: #333;
    margin-bottom: 10px;
}


.album {
    background-color: #3892b7;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 150px);
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    
}


.album img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 4px;
}

.album h3 {
    font-size: 20px;
    margin-bottom: 0.5px;
}

.album a {
    color:  #3892b7;
    text-decoration: none;
    width: 90%;
    height: 90%;
    display: inline-block;
    padding: 16px 16px;
    background-color: #e28048;
    border-radius: 4px;
    transition: background-color 0.3s;
    text-decoration: none;
}

.album-description { 
    position: absolute;
    right: auto;
    text-align: left;
    margin-top: 20px;
    color: #777;
}

.album a:hover {
    background-color: #ddd;
}

.show {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.show h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.show p {
    color: #777;
    margin-bottom: 10px;
}

.show a {
    color: #333;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #f5f5f5;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.show a:hover {
    background-color: #ddd;
}

footer {
    background-color: #006281;
    padding: 10px;
    text-align: center;
    color: #fff;
}

footer p {
    padding-top: 1rem;
    padding-bottom: 0;
    color: #fff;
}

.social-media-icons {
    list-style: none;
    padding: 0;
}

.social-media-icons li {
    display: inline-block;
    margin-right: 10px;
    font-size: 30px;
}

.social-media-icons li a {
    color: #fff;
    font-size: 20px;
    font-size: 30px
}

.social-media-icons li a:hover {
    color: #000000;
}

.album-detail {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.album-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.album-cover img {
    max-width: 300px;
    height: auto;
}

.album-title {
    font-size: 24px;
    margin-top: 0px;
}

.release-info {
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

.release-type {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.release-date {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
    margin-bottom: 20px;
}


.songs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.songs h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.song-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.song-title {
    font-size: 16px;
    margin-bottom: 5px;
    text-align: left;
    margin-left: 20px;
}

.audio {
    list-style: none;
}

.no-concerts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 75vh;
}

.merch {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(25% - 30px);
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    height: calc(40% - 20px);
}

.merch img {
    width: 100%;
    height: 100%; /* Set a specific height for all the images */
    object-fit: cover;
    border-radius: 4px;
}

.merch h3 {
    font-size: 20px;
    margin-bottom: 0.5px;
}

.merch p {
    margin-bottom: 5px;
}

.merch a {
    color: #333;
    text-decoration: none;
    width: 90%;
    height: 93%;
    display: inline-block;
    padding: 16px 16px;
    background-color: #f5f5f5;
    border-radius: 4px;
    transition: background-color 0.3s;
    text-decoration: none;

}

.merch a:hover {
    background-color: #ddd;
}

.merch-detail {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 50px;
}

.merch-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 50px;
    width: 50%;
    height: 25%; 
}

.merch-title {
    font-size: 24px;
    margin-top: 0px;
}
.merch-description { 
    position: absolute;
    right: 100px;
    text-align: right;
}

.merch-image img {
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.merch-category {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.merch-price {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    color: #777;
}

.merch-description h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.merch-description p {
    font-size: 18px;
    line-height: 1.4;
    color: #777;
    text-align: right;
}

.concerts {
    margin-top: 5%;
    margin-left: 16.667%;
}

.concert-line {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
    padding-bottom: 25px;
    border-top-width: 4px;
    border-top-style: solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: linear-gradient(90deg, rgba(85, 224, 255, 0.261) 0%, rgb(255, 255, 255) 20%);

}

.concert-date {
    display: flex;
    width: 20%;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
}

.concert-place {
    display: flex;
    flex-direction: column;
    width: 50%;
}

div[id^="concert-tickets-"] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
    text-decoration: none;
    color: #ffffff;
    background-color: rgb(25, 201, 228);
    letter-spacing: 3px;

}

div[id^="concert-tickets-"] .box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    background-color: rgb(25, 201, 228);

}

div[id^="concert-tickets-"] :hover {
    background-color: green;
}

#concert-tickets-0 {
    color: rgb(76, 76, 76);
}

#concert-tickets-1 {
    color: rgb(235, 0, 0);
}

#concert-tickets-2 {
    color: rgb(235, 0, 0);
}

#concert-tickets-3 {
    color: rgb(235, 0, 0);
}

#concert-tickets-4 {
    color: black;
    background-color: rgba(25, 201, 228, 0.149);
}