{% extends 'base.html' %}
{% block content %}
<div class="background-block">
<h1 class="title">Create Event</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class='error-box'>{{ form.non_field_errors }}</div>
        <div>
            <label for="id_city_name">City:</label>
            {{ form.city_name }}
        </div>
        <div>
            <label for="id_venue_name">Venue:</label>
            {{ form.venue_name }}
        </div>
        <div>
            <label for="id_date">Event Date:</label>
            {{ form.date}}
        </div>
        <div>
            <label for="id_link">Ticket Link:</label>
            {{ form.link }}
        </div>
        <div>
            <label for="id_ticket_status">Ticket Status:</label>
            {{ form.ticket_status }}
        </div>
        <div>
            <label for="id_visible">Visibility:</label>
            {{ form.visible }}
        </div>
        <button type="submit">Create</button>
    </form>
</div>
{% endblock content %}